:root {
	--accent_color_fg: #007bff;
	--accent_color_bg: rgba(137, 197, 221, 1);
	--accent_color_bg_o: rgba(137, 197, 221, 0.5);
	--main_color_fg: white;
	--main_color_bg: black;
	--border-radius: 10px;
	--def-shadow: 10px 20px 20px rgb(128, 128, 128, 0.5);
}
* {
	box-sizing: border-box;
	outline-style: none;
}
body, html {
	height: 100%;
	margin: 0;
	font-family: Arial, Helvetica, sans-serif;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	overscroll-behavior: none;
	touch-action: pan-x pan-y;
	font-size: 20px;
}
::selection {
	background-color: var(--accent_color_fg);
	color: black;
}

/* ----------- overlay ----------- */

overlay {
	display: none;
}
.overlay {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 100;
}
.overlay > div:first-child {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(0,0,0,0.2);
	backdrop-filter: blur(1px);
}
.overlay > div:last-child {
	position: fixed;
	top: 50%;
	left: 50%;
	min-width: 250px;
	min-height: 150px;
	transform: translate(-50%, -50%);
	background: var(--accent_color_bg_o);
	backdrop-filter: blur(10px);
	border-radius: var(--border-radius);
	padding: 15px;
	text-align: center;
	overflow-x: hidden;
	overflow-y: auto;
	box-shadow: var(--def-shadow);
}
.overlay > div:last-child > .close {
	position: absolute;
	top: 8px;
	right: 8px;
	width: 40px;
	height: 40px;
	background: var(--accent_color_bg);
	border-radius: var(--border-radius);
	border: none;
}

/* ----------- headerbar ----------- */

.header_bar_1 {
	position: fixed;
	top: 0%;
	left: 50%;
	transform: translateX(-50%);
	width: 100%;
	background: var(--accent_color_bg_o);
	backdrop-filter: blur(10px);
	padding: 15px;
	box-shadow: var(--def-shadow);
	height: 70px;
	align-items: center;
	display: flex;
	flex-direction: row;
}
.header_bar_1 > div {
	display: table-cell;
}
.header_bar_1 > div:nth-child(1) {
	text-align: left;
}
.header_bar_1 > div:nth-child(2) {
	text-align: center;
	width: 100%;
}
.header_bar_1 > div:nth-child(3) {
	text-align: right;
}

.header_bar_1_placeholder {
	height: 70px;
}
.header_bar_1_undocked {
	width: 96%;
	top: 2%;
	border-radius: var(--border-radius);
	animation: header_bar_1_undocked_ani 0.5s ease-in-out;
}
.header_bar_1_docked {
	width: 100%;
	animation: header_bar_1_docked_ani 0.5s ease-in-out;
}
@keyframes header_bar_1_undocked_ani {
	from {
		width: 100%;
		top: 0;
		border-radius: 0;
	}
	to {
		width: 96%;
		top: 2%;
		border-radius: var(--border-radius);
	}
}
@keyframes header_bar_1_docked_ani {
	from {
		width: 96%;
		top: 2%;
		border-radius: var(--border-radius);
	}
	to {
		width: 100%;
		top: 0;
		border-radius: 0;
	}
}